body{
    margin: 0;
    font-family: sans-serif;
    background-color: blanchedalmond;
}

#contacts-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#page-heading{
    text-align: center;
}

#form-container{
    /* border: 2px solid pink; */
    width: 64%;
    display: flex;
    justify-content: space-between;

}



#form-container input{
    width: 40%;
    height: 40px;
    margin: 5px;
    color: black;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
}

#submit-button{
    margin: 5px;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    
}

.list-item{
    border: 2px solid black;
    width: 91%;
    display: flex;
    background-color: antiquewhite;
    margin: 5px;
    border-radius: 5px;
    
    /* list-style: none; */

}
.list-item:hover{
  background-color: rgb(241, 147, 208);
}

.list-item p{
    display: inline-block;
    text-transform: capitalize;
    width: 400px;
    padding: 5px;
    height: auto;
    font-size: 1.2rem;
    text-overflow: inherit;
    font-size: 1.3rem;
    margin: 5px;
}

#contact-container{
    width: 70%;
    display: flex;
    /* border: 2px solid black; */
    
}

#details{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid green; */
    width: 90%;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

#contact-container .delete-contact{
    width: 10%;
    /* border: 2px solid green; */
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: center; 
}

#contact-container .delete-contact a{
color: red;
/* background-color: red; */
}